/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 200px 1fr;

  background-color: #000000;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  grid-column: 1 / 2;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: repeat(2, 200px);
  align-items: center;
  background-color: #111111;
  height: 100vh;
  border-right: 1px solid #222;
}

.nav button {
  margin: 20px;
  width: 7.5rem;
  background-color: #1a1a1a;
  color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px;
}

.nav button:hover {
  background-color: #00ffe0;
  color: #000000;
  border-color: #00ffe0;
  transform: scale(1.09);
}

.header {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: #111111;
  color: #00ffe0;
  border-bottom: 1px solid #222;
}

.container {
  background-color: #0d0d0d;
  padding: 20px;
}

.choose,
.actions {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#todo_dialog {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-self: center;
  border-radius: 15px;
  label {
    display: block;
    margin: 12px;
  }
  input[type="radio"] {
    margin-right: 8px;
  }
  fieldset {
    border-radius: 12px;
  }
  textarea {
    resize: vertical;
  }
  .notes {
    display: flex;
    align-items: center;
  }
  .dialog_close {
    position: absolute;
    top: -24px;
    right: -12px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
  }
  .dialog_close:hover {
    background-color: #000000;
    color: #00ffe0;
  }
  .submit {
    left: 50%;
    transform: translateX(70%);
  }
}
#project_dialog {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 40%;
  label {
    display: block;
  }
  .dialog_close {
    position: absolute;
    top: -24px;
    right: -12px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    color: #00ffe0;
    border: 0px;
    border-radius: 45%;
  }
  .dialog_close:hover {
    background-color: #000000;
    color: white;
  }

  span {
    margin-right: 8px;
  }
  button.submitProj {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(24ch, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
  gap: 12px;
}
.todo {
  padding: 20px;
  border: 2px solid #e0e0e0;
}
.todo .title {
  text-align: center;
}
.todo .delDiv {
  display: flex;
  justify-content: end;
}
.delButton,
.editButton {
  background-color: #222;
  border-style: none;
  color: #e0e0e0;
  border-radius: 8px;
}
.delButton:hover,
.editButton:hover {
  transform: translate(1.01);
  background-color: #00ffe0;
  color: #000000;
}
.toggleCheck {
  margin-left: 4px;
}
.todo[data-priority="high"] {
  border: 2px solid red;
}
.todo[data-priority="low"] {
  border: 2px solid green;
}
.todo[data-priority="meh"] {
  border: 3px solid yellow;
}
#view {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  .dialog_close {
    position: absolute;
    top: -20px;
    right: -12px;
    width: fit-content;
    height: 30px;
    align-items: center;
    display: inline-flex;
  }
}
.delDiv {
  display: flex;
  gap: 10px;
  justify-content: end;
}
dialog {
  background-color: #000000;
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
